*{
	padding: 0px;
	margin: 0px;
}
#all{
	background-image: url(../image/bj.png);
        height:350px;
	width: 230px;
	background-repeat: no-repeat;
}
ul{
	list-style-type:none;
	background-image: url(../image/baibiaoti.png);
	width: 183px;
	background-repeat: no-repeat;
}
#title{
	background-image: url(../image/header.png);
	width: 178px;
	height: 80px;
	text-align: center;
	padding-top: 12px;
	background-repeat: no-repeat;
}
ul li{
	background-image: url(../image/left_nav_item.gif);
	background-repeat:no-repeat;
	text-align: center;
	height:35px;
	width: 183px;
	padding-top: 5px;
	margin-right:10px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}
#l{
	background-image: url(../image/lvbiaoti.png);
	background-repeat:no-repeat;
}
